@media (max-width: 768px) {
  .datos-cliente-venta {
    margin-top: 2rem;
  }

  .datos-venta {
    margin-top: 3rem;
    height: 28rem;
  }

  /* .contenedor-detalles {
    width: 13rem;
    background: blue;
  } */
}

@media (max-width: 576px) {
  .datos-cliente-venta {
    margin-top: 2rem;
  }

  .subtotal,
  .total {
    width: 50%;
  }

  .valor-domicilio,
  .acciones-venta {
    width: 50%;
  }

  .detalles {
    width: 50%;
  }
}
